{{ define "body_class" }} home-template {{ end }}

{{ define "main" }}

<header class="site-home-header">
   {{- partial "site-nav.html" . -}}
   <div class="inner">
      <div class="site-header-content">
         <h1 class="site-title">
            {{ if $.Site.Params.logo }}
               <img class="site-logo" src="{{ $.Site.Params.logo }}" alt="{{ .Site.Title }}" />
            {{ else }}
               {{ $.Site.Title }}
            {{ end }}
         </h1>
         <h2 class="site-description">{{ $.Site.Params.description }}</h2>
         <a class="button call-to-action" href="mailto:michiel@mvdm.io">Contact me</a>
      </div>
   </div>
</header>

<main id="site-main-services" class="site-main outer">
   <h1 class="header">Services</h1>
   <h2 class="sub-header">What can I do for you?</h2>
   <div class="inner posts">
      <div class="post-feed">
         {{ $pages := where site.RegularPages "Type" "in" site.Params.servicesSections }}
         {{ range $index, $element := $pages }}
         {{- partial "post-card-simple.html" (dict "context" . "index" $index "home" $.IsHome) -}}
         {{ end }}
      </div>
   </div>
</main>

<main id="site-main-blogposts" class="site-main outer">
   <h1 class="header">Recent blog posts</h1>
   <h2 class="header"></h2>
   <div class="inner posts">
      <div class="post-feed">
         {{ $pages := where site.RegularPages "Type" "in" site.Params.blogpostSections }}
         {{ range $index, $element := $pages }}
         {{- partial "post-card.html" (dict "context" . "index" $index "home" $.IsHome) -}}
         {{ end }}
      </div>
   </div>
</main>

{{ end }}